.finger-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.finger-img-wrap {
  display: flex;
  align-items: center;
}

.finger-img {
  width: 150px;
  height: 150px;
}

.finger-btn-wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.finger {
  width: 80px;
  height: 40px;
  margin-right: 10px;
  background-color: pink;
  border-radius: 20px;
  text-align: center;
  line-height: 40px;
  color: white;
  font-weight: bold;
}

.finger-btn {
  width: 80px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background-color: aqua;
  color: black;
  border-radius: 5px;
  font-weight: bold;
}

.again {
  display: none;
  margin-left: 20px;
}

.finger-text-wrap {
  font-size: 20px;
}


.pk-text {
  display: none;
  margin: 0 10px;
}

.show {
  display: block;
}

.game-result {
  width: 80%;
  text-align: center;
}